.escrow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 150px;
  background-color: black;
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  font-family: "Montserrat", Sans-serif;
}

.escrow-as-a-service {
  flex: 1;
  max-width: 600px;
  text-align: start;
}
.escrow-as-a-service h3 {
  font-size: 4.6rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 2rem;
  background: linear-gradient(180deg, #00E2FF 0%, #F8F8FF 48%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: start;
}
.escrow-as-a-service h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #9CF4FF;
}
.escrow-as-a-service p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  color: rgb(167, 167, 167);
}

.info-escrow {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info-escrow::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -200px;
  width: 500px;
  height: 500px;
  background-image: radial-gradient(at center center, rgba(0, 226, 255, 0.2) 0%, rgba(35, 53, 109, 0) 57%);
  border-radius: 50%;
  z-index: 1;
  animation: bubble-animation 6s ease-in-out infinite;
}

.info-item {
  margin-bottom: 30px;
}
.info-item .info-number {
  font-size: 4.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: white;
}
.info-item .info-string {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(167, 167, 167);
  max-width: 400px;
}

@keyframes bubble-animation {
  0%, 100% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
}
@media (min-width: 250px) and (max-width: 500px) {
  .escrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px 20px;
    height: auto;
    min-height: 100vh;
  }
  .escrow-as-a-service {
    text-align: center;
    padding: 0;
    max-width: 100%;
    margin: 0 auto 30px;
    width: 100%;
  }
  .escrow-as-a-service h3 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    text-align: center;
  }
  .escrow-as-a-service h2 {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
  }
  .escrow-as-a-service p {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  .info-escrow {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .info-escrow::before {
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
  }
  .info-item {
    margin-bottom: 30px;
  }
  .info-item:last-child {
    margin-bottom: 0;
  }
  .info-item .info-number {
    font-size: clamp(2.5rem, 8vw, 3.5rem);
  }
  .info-item .info-string {
    font-size: clamp(1rem, 3vw, 1.2rem);
    max-width: 200px;
  }
}
@media (min-width: 700px) and (max-width: 980px) {
  .escrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px 20px;
    height: auto;
    min-height: 100vh;
  }
  .escrow-as-a-service {
    text-align: center;
    padding: 0;
    max-width: 70%;
    margin: 0 auto 30px;
    width: 100%;
  }
  .escrow-as-a-service h3 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    text-align: center;
  }
  .escrow-as-a-service h2 {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
  }
  .escrow-as-a-service p {
    font-size: clamp(2rem, 2vw, 1.5rem);
  }
  .info-escrow {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .info-escrow::before {
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
  }
  .info-item {
    margin-bottom: 30px;
  }
  .info-item:last-child {
    margin-bottom: 0;
  }
  .info-item .info-number {
    font-size: clamp(2.5rem, 8vw, 3.5rem);
  }
  .info-item .info-string {
    font-size: clamp(1rem, 3vw, 1.2rem);
    max-width: 200px;
  }
}
@media (max-width: 420px) {
  .escrow-as-a-service,
  .info-escrow {
    padding: 0 10px;
  }
  .info-escrow::before {
    width: 150px;
    height: 150px;
  }
  .info-item .info-string {
    max-width: 100%;
  }
}/*# sourceMappingURL=Escrow-as-a-Service.css.map */