/* src/assets/components/About.css */

.about {
    position: relative; /* Posiziona in modo relativo */
    z-index: 3; /* Assicura che About sia sopra Hero */
    padding: 50px 20px; /* Spaziatura interna */
    text-align: center; /* Centro il testo */
    background-color: rgba(0, 0, 0, 0.8); /* Colore di sfondo scuro con trasparenza */
    color: #fff; /* Colore del testo */
    height: 100vh; /* Imposta l'altezza per coprire Hero */
    display: flex; /* Flexbox per centrare il contenuto */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    opacity: 1; /* Imposta l'opacità al massimo */
}


.about h2 {
    font-size: 2.5rem; /* Dimensione del titolo */
    margin-bottom: 1rem; /* Margine inferiore */
}

.about p {
    font-size: 1.25rem; /* Dimensione del testo del paragrafo */
    margin-bottom: 1rem; /* Margine inferiore */
}
