@import 'variables';

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: black;
    height: 100vh; 
    box-sizing: border-box;
    font-family: "Montserrat", Sans-serif;

    h2 {
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 30px;
        background: $gradient-title;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: start;
        position: relative;
        transform: perspective(500px) rotateX(20deg) rotatex(-10deg);
        transition: transform 0.3s ease;
      
        &::before,
        &::after {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background: inherit;
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
        }
      
        &::before {
          transform: translateZ(-10px);
          opacity: 0.5;
          filter: blur(15px);
        }
      
        &::after {
          transform: translateZ(15px);
        }
      
        &:hover {
          transform: perspective(500px) rotateX(5deg) rotateY(-2deg) translateZ(10px);
        }
      }
    h3{
        font-size: 1.2rem;
        color: $paragraph-white;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h4{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    background: $gradient-title;
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    text-align: center;
    margin-bottom: 30px;
    }
    p{
        color: $paragraph-white;
        margin-bottom: 30px;
    }
  }

  .about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

    .item-about{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 10px;
    }

    img{
        height: 200px;
        width: 200px;
        border-radius: 100px;
    }
  


    .round-icon {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $button-color; // Colore di sfondo del cerchio
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    
    .linkedin-icon {
      font-size: 25px; // Dimensione dell'icona
      color: black; // Colore dell'icona
    }
    
  }

  .community-section{
    margin-top: 80px;
    max-width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .telegram-icon {
        color: $button-color;
        font-size: 36px;
        transition: color 0.3s ease;

        &:hover {
            color: #0099e5;
        }
}
  }