@import 'variables';

.escrow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px 30px;
  background-color: black;
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  font-family: "Montserrat", Sans-serif;
}

.escrow-as-a-service {
  flex: 1;
  max-width: 600px;
  margin-right: 50px;
  text-align: start;

  h3 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    background: $gradient-title;
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    text-align: start;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $paragraph-color;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
  }
}

.info-escrow {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  &::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 100px;
    width: 500px;
    height: 500px;
    background-image: radial-gradient(at center center, #00E2FF33 0%, #23356D00 57%);
    border-radius: 50%;
    z-index: 1;
    animation: bubble-animation 6s ease-in-out infinite;
  }
}

.info-item {
  margin-bottom: 30px;

  .info-number {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }

  .info-string {
    font-size: 1.2rem;
    color: white;
    max-width: 250px;
  }
}

@keyframes bubble-animation {
  0%, 100% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
}

@media (min-width: 250px) and  (max-width: 500px) {
  .escrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px 20px;
    height: auto;
    min-height: 100vh;
  }

  .escrow-as-a-service {
    text-align: center;
    padding: 0;
    max-width: 100%;
    margin: 0 auto 30px;
    width: 100%;

    h3 {
      font-size: clamp(2rem, 5vw, 3.5rem);
      text-align: center;
    }

    h2 {
      font-size: clamp(1.2rem, 3vw, 1.5rem);
    }

    p {
      font-size: clamp(1rem, 2vw, 1.5rem);
    }
  }

  .info-escrow {
    width: 100%;
    max-width: 100%;
    padding: 0;

    &::before {
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
    }
  }

  .info-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .info-number {
      font-size: clamp(2.5rem, 8vw, 3.5rem);
    }

    .info-string {
      font-size: clamp(1rem, 3vw, 1.2rem);
      max-width: 200px;
    }
  }
}

@media (min-width: 700px) and  (max-width: 980px) {
  .escrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px 20px;
    height: auto;
    min-height: 100vh;
  }

  .escrow-as-a-service {
    text-align: center;
    padding: 0;
    max-width: 70%;
    margin: 0 auto 30px;
    width: 100%;

    h3 {
      font-size: clamp(2rem, 5vw, 3.5rem);
      text-align: center;
    }

    h2 {
      font-size: clamp(1.2rem, 3vw, 1.5rem);
    }

    p {
      font-size: clamp(2rem, 2vw, 1.5rem);
    }
  }

  .info-escrow {
    width: 100%;
    max-width: 100%;
    padding: 0;

    &::before {
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
    }
  }

  .info-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .info-number {
      font-size: clamp(2.5rem, 8vw, 3.5rem);
    }

    .info-string {
      font-size: clamp(1rem, 3vw, 1.2rem);
      max-width: 200px;
    }
  }
}

@media (max-width: 420px) {
  .escrow-as-a-service,
  .info-escrow {
    padding: 0 10px;
  }

  .info-escrow::before {
    width: 150px;
    height: 150px;
  }

  .info-item .info-string {
    max-width: 100%;
  }
}