@import 'variables';

.web3-solution {
    padding: 4rem 2rem;
    background-color: #000000;
    font-family: "Montserrat", Sans-serif;
    width: 100%;
    overflow-x: hidden;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 30%;
        transform: translateX(-50%);
        width: 600px;
        height: 600px;
        background-image: radial-gradient(at center center, #00E2FF33 0%, #23356D00 57%);
        border-radius: 50%;
        z-index: 1;
        opacity: 0.5;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 0.6rem!important;
        font-weight: 400;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: $paragraph-color;
    }

    h2 {
        font-size: 4rem;
        margin-bottom: 5rem;
        margin-top: 30px;
        text-align: center;
        background: $gradient-title;
        -webkit-background-clip: text;
        background-clip: text;
        font-family: "Montserrat", Sans-serif;
        color: transparent;
        letter-spacing: -0.06em;
        font-weight: 700;
    }

    .web3-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        .web3-card {
            background-color: rgba(16, 19, 28, 0.8);
            border: 2px solid #25C5DD;
            border-radius: 10px;
            padding: 2rem;
            display: flex;
            flex-direction: column;

            .title-icon {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                img {
                    width: 100px;
                    height: 10  0px;
                    margin-right: 1rem;
                    display: block;
                }

                h4 {
                    font-size: 2rem;
                    color: #FFFFFF;
                    margin: 0;
                    line-height: 1;
                    max-width: 50%;
                    display: flex;
                    font-family: 'Roboto', sans-serif;
                    align-items: center;
                    height: 40px;
                }
            }

            .web3-content {
                p {
                    font-size: 0.9rem;
                    line-height: 1.5;
                    color: $paragraph-white;
                    opacity: 0.8;
                    margin-left: 100px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .web3-solution {
        padding: 2rem 1rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        .web3-container {
            grid-template-columns: 1fr;
            gap: 1.5rem;

            .web3-card {
                padding: 1.5rem;

                .title-icon {
                    h4 {
                        font-size: 1rem;
                    }
                }

                .web3-content {
                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 890px) and (min-width: 770px) {
    .web3-container {
      grid-template-columns: repeat(1, 1fr)!important;
    }
  }
  